<!-- <div
    class="sticky bottom-8 left-0 right-0 bg-gradient-to-r from-blue-500 to-purple-500 text-white z-40 m-4 rounded-xl shadow-lg transition-transform transform hover:scale-105">
    <div class="container mx-auto py-4 px-6">
        <div class="flex items-center justify-between">
            <div>
                <p class="text-sm text-gray-100 font-medium">Total: <span id="total-item" class="font-semibold">{{
                        getCartItemsCount() }}</span>
                    items</p>
                <p class="text-l font-bold tracking-tight"><span id="total-harga">{{ totalPrice |
                        currency:'Rp':'symbol':'1.0-0' }}</span></p>
            </div>
            <button (click)="navigateToCart()"
                class="bg-white text-blue-600 font-bold py-2 px-4 rounded-lg shadow-md hover:bg-blue-50 transform hover:scale-105 transition-transform">
                Lihat Keranjang
            </button>
        </div>
    </div>
</div> -->

<button 
    class="bg-orange-500 hover:bg-orange-600 text-white rounded-full w-14 h-14 flex items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 transform hover:scale-105"
    (click)="navigateToCart()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
        </path>
    </svg>
    <span *ngIf="getCartItemsCount() > 0" 
        class="absolute -top-1 -right-1 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">
        {{ getCartItemsCount() }}
    </span>
</button>