<div
    class="sticky bottom-8 left-0 right-0 bg-gradient-to-r from-blue-500 to-purple-500 text-white z-40 m-4 rounded-xl shadow-lg transition-transform transform hover:scale-105">
    <div class="container mx-auto py-4 px-6">
        <div class="flex items-center justify-between">
            <div>
                <p class="text-sm text-gray-100 font-medium">Total: <span id="total-item" class="font-semibold">{{ getCartItemsCount() }}</span>
                    items</p>
                <p class="text-xl font-bold tracking-tight">Rp <span id="total-harga">{{ totalPrice }}</span></p>
            </div>
            <button (click)="navigateToCart()"
                class="bg-white text-blue-600 font-bold py-2 px-4 rounded-lg shadow-md hover:bg-blue-50 transform hover:scale-105 transition-transform">
                Lihat Keranjang
            </button>
        </div>
    </div>
</div>